<!DOCTYPE html>
<html>

<head>
    <title>Lietuvos ornitologu draugija</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://kit.fontawesome.com/3cfd2273f7.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div id="menu" class="grid-container">
            <img src="/img/logo.png" alt="">
            <div></div>
            <h1>Lietuvos Paukščiai</h1>
        </div>
    </header>
    <div class="content flex-container">
             <%= render "/layouts/menu" %>

        <section style="padding-bottom: 20px; padding-top:20px;">
            <span>
                <h2 style="padding-left: 20px; display:inline; padding-right: 40px;">Galerija - Kuosa</h2>
                <a href="galerija.html"><button style="margin-bottom:10px;">Grįžti</button></a>
                <br>
                <br>
            </span>
            <img src="/img/kuosa.jpg" style="height:200px; width: 200px; padding-left: 20px;">
            <div class="info-paragraph">
                <h3>Išvaizda</h3>
                <p>Kuosos kūno ilgis 34-39 cm, išskėstų sparnų tarpugalių atstumas 64-73 cm, svoris 175–280 g.
                    Dydžiu mažesnė už naminį karvelį, o nuo kitų varninių paukščių skiriasi dydžiu, šviesiais kaklo
                    šonais,
                    trumpesniu snapu, greitesniu polėkiu ir būdingu balsu. Abiejų lyčių viršugalvis, nugara, uodega ir
                    sparnai juodi,
                    melsvo metalo blizgesio. Kaklas pilkas, jo šonai balsvi.
                </p>
                <hr>
            </div>
            <div class="info-paragraph">
                <h3>Paplitimas</h3>
                <div class="flex-container">
                    <p>Eurazinės kuosos aptinkamos beveik visoje Europoje – Britų salose, Iberijos pusiasalyje, Maroko
                        ir
                        Alžyro šiaurinėse dalyse, pietiniame Vakarų Sibire, Vidurinėje Azijoje, Kašmyre, vakarų Kinijos
                        Sindziango provincijoje. Negyvena tik Europos šiaurės pakraščiuose – šiaurinėje Skandinavijoje,
                        šiaurinėje Rusijoje, Islandijoje. <br><br> Lietuvoje gyvena Eurazinių kuosų Corvus monedula
                        soemmerringii porūšis. Šalyje jos iš dalies sėslios, tačiau apie 40 proc. migruoja į
                        artimiausius
                        šiltesnius kraštus – Lenkiją, Vokietiją. Grįžtančios pas mus pasirodo apie kovo vidurį.</p>
                    <img src="/img/arealas.png">
                </div>
                <hr>
            </div>
            <div class="info-paragraph">
                <h3>Elgsena</h3>
                <p>Gyvena miestuose, gyvenvietėse, miškų pakraščiuose, parkuose, soduose, senose sodybose. Labai vikri
                    ir
                    triukšminga, dažnai laikosi su savo gentainiais – pilkosiomis varnomis, kovais, paprastaisiais
                    krankliais. Rudenį ir žiemą didžiuliai kuosų būriai nakvoja didelių miestų ir gyvenviečių
                    želdiniuose.
                </p>
                <p>Monogamės. Gyvena nedidelėmis ir didesnėmis kolonijomis. Lizdus krauna uoksuose, pastogėse, palėpėse,
                    bokštuose, ventiliacijos angose. Lizdus krauti pradeda kovo pabaigoje. Dažniausiai peri kolonijomis.
                    Deda 4-6 smailiais galais, žalsvos arba melsvos spalvos su rusvomis dėmelėmis kiaušinius. Peri 17-18
                    dienų. Perinčią patelę maitina patinas. Išsiritusius jauniklius maitina abu porelės nariai.
                    Susmulkintą
                    ir seilėmis suvilgytą maistą atneša žiočių maiše. Lizdą jaunikliai palieka po 30 dienų.</p>
                <hr>
            </div>
            <div class="info-paragraph">
                <h3>Intelektas</h3>
                <div class="flex-container">
                    <p>Kembridžo universiteto profesorius Bird teigia, jog Varninių šeimos nariai (varnos, kuosos,
                        kovai,
                        šarkos, kėkštai) intelektu įvairiais aspektais prilygsta primatams, ypatingai įrankių gamyboje
                        ir
                        naudojime. <br><br>
                        Kuosos taip pat įsimena ir atpažįsta žmonių veidus. Kembridžo universiteto tyrime kuosos skleidė
                        įspėjamuosius garsus, jei prie jų lizdo artėjo anksčiau jų perėjimo vietas lietęs žmogus.</p>
                    <img src="/img/kuosa2.jpg">
                </div>
                <hr>
            </div>
        </section>
    </div>
    <footer>
        <p>Copyright &copy; 2020 &emsp; &emsp;Lietuvos orientologų draugija</p>
    </footer>
</body>

</html>