


<!DOCTYPE html>
<html>

<head>
    <title>Lietuvos ornitologu draugija</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://kit.fontawesome.com/3cfd2273f7.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div id="menu">
            <img src="/img/logo.png" alt="">
            <div></div>
            <h1>Lietuvos Paukščiai</h1>
        </div>
    </header>
    <div class="content">
       <%= render "/layouts/menu" %>

        <section id="pagrindinis">
            <div>
                <p>Sveiki atvykę į Lietuvos ornitologų draugijos puslapį. Tinklalapyje jūs galite
                    rasti
                    informaciją apie
                    organizacijos veiklą, taip pat galeriją su Lietuvos paukščių nuotraukomis. Jei turite klausimų ar
                    pasiūlymų, prašome kreiptis!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem magnam quia ipsum, dolore
                    molestias blanditiis neque sunt ullam consectetur delectus dolores voluptatum nihil
                    ad in illum at! Facere, corporis eius. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Aperiam
                    ut vel, pariatur sint, explicabo vero nihil et provident enim ipsa labore natus perspiciatis,
                    placeat
                    eveniet sed?
                    Esse dolores officia velit.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem magnam quia ipsum, dolore
                    molestias blanditiis neque sunt ullam consectetur delectus dolores voluptatum nihil
                    ad in illum at! Facere, corporis eius. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Aperiam
                    ut vel, pariatur sint, explicabo vero nihil et provident enim ipsa labore natus perspiciatis,
                    placeat
                    eveniet sed?
                    Esse dolores officia velit.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem magnam quia ipsum, dolore
                    molestias blanditiis neque sunt ullam consectetur delectus dolores voluptatum nihil
                    ad in illum at! Facere, corporis eius. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Aperiam
                    ut vel, pariatur sint, explicabo vero nihil et provident enim ipsa labore natus perspiciatis,
                    placeat
                    eveniet sed?
                    Esse dolores officia velit.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem magnam quia ipsum, dolore
                    molestias blanditiis neque sunt ullam consectetur delectus dolores voluptatum nihil
                    ad in illum at! Facere, corporis eius. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Aperiam
                    ut vel, pariatur sint, explicabo vero nihil et provident enim ipsa labore natus perspiciatis,
                    placeat
                    eveniet sed?
                    Esse dolores officia velit.</p>
            </div>
            <img src="/img/Kikilis.jpg">
        </section>
    </div>
    <footer>
        <p>Copyright &copy; 2020 &emsp; &emsp;Lietuvos orientologų draugija</p>
    </footer>
</body>

</html>