<aside>
            <ul>
                    
                    <li><%= link_to "Pagrindinis", "/ornitologija/index" %></li>
                    <li><%= link_to "Galerija", "/galerija/index" %></li>
                    <li><%= link_to "Kuosa", "/kuosa/index" %></li>
                    <li><%= link_to "Kontaktai", "/kontaktai/index" %></li>
            </ul>
</aside>